* {
padding: 0;
margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {color: #555453;}
a:link {
  color: #555453; 
  text-decoration: none;
  transition-duration: 1s;
  transition-property: color;
}
a:active {color: #555453;}
a:visited {color: #555453;}
a:hover {color: darkturquoise;}

body {
background-color: #fff;
/*font-family: "Lucida Console", Monaco, monospace;*/
font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 100;
color: #555453;
}

.container {
  min-height: calc(100vh - 63px);
  max-width: 805px;
  margin: 0 auto;
}

#main-header {
  text-align: center;
}

#main-header img.harmonis-bali-logo {
  padding: 12px 0;
}

#main-header #main-nav {
  font-size: 1.5rem;
}

#main-header #main-nav ul {
list-style: none;
display: inline-block;
}

#main-header #main-nav ul li {
display: inline;
text-transform: uppercase;
padding-left: 5px;
}

#main-header #main-nav ul li a:link {
  color: darkturquoise; 
  text-decoration: none;
  transition-duration: 1s;
  transition-property: color;
}
#main-header #main-nav ul li a:active {color: darkturquoise;}
#main-header #main-nav ul li a:visited {color: darkturquoise;}
#main-header #main-nav ul li a:hover {color: #e1e329;}

#main-header #main-nav ul li a.active {text-decoration: underline;}

#content .about-image {
  width: 100%;
  margin-bottom: 12px;
}

#content p {
  font-size: 1.2rem;
  color: black;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}

#content .stores {
display: inline;
}

#content .stores img {
width: 100%;
}

#content .stores h1 {
font-size: 58px;
font-weight: 100;
margin-top: 7px;
}

#content .stores p {
font-size: 17px;
margin: 0;
margin-bottom: 24px;
padding: 0;
}

#content .padding {margin-right: 15px;}

#links img {
  vertical-align: baseline;
}


/*

FOOTER

*/


#main-footer {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin-top: 12px;
}

#main-footer p {
font-size: 10px;
color: #777;
letter-spacing: .2em;
margin: 0;
padding: 0;
}

/* 

MEDIA QUERIES

*/


@media screen and (min-width: 770px) {
  #main-header img.harmonis-bali-logo {
    padding: 12px 0;
    float: left;
  }

  #main-header #main-nav {
  list-style: none;
  float: right;
  padding-top: 38px;
  }
}